## *Этап - Feature engineering и построение модели*

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('database.csv', index_col=0)

In [28]:
print(df.shape)
df.head()

(2503, 9)

,Price,Rooms,Area,Floor,Max_house_floor,balcony\loggia,Bathroom,Year built,Link
0,4250000,1,40,13,25,балкон,совмещенный,2019.0,https://www.avito.ru/perm/kvartiry/1-k._kvarti...
1,4000000,3,61.7,3,5,балкон,раздельный,1977.0,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
2,2950000,2,44,9,9,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...
3,6990000,3,67.7,5,16,лоджия,раздельный,NaN,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
4,6990000,2,44.9,16,25,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...

In [29]:
df = df.rename(columns={'balcony\loggia': 'balcony_or_loggia', 'Year built': 'Year_built'})

### Приведение признаков к соответствующему типу данных

In [8]:
df.dtypes

Price                 object
Rooms                  int64
Area                  object
Floor                  int64
Max_house_floor        int64
balcony_or_loggia     object
Bathroom              object
Year_built           float64
Link                  object
dtype: object

In [ ]:
df.astype({'Price': 'int64'})

In [30]:
indx = []
for i in range(len(df.Price)):
    try:
        int(df.Price[i])
    except:
        indx.append(i)
df.iloc[indx]

,Price,Rooms,Area,Floor,Max_house_floor,balcony_or_loggia,Bathroom,Year_built,Link
269,от2890000,1,1-к.,1,5,NaN,раздельный,NaN,https://www.avito.ru/perm/kvartiry/auktsion_1-...
281,от2399000,1,2-к.,7,16,NaN,совмещенный,1959.0,https://www.avito.ru/perm/kvartiry/auktsion_2-...
1322,от3100000,1,2-к.,15,16,лоджия,совмещенный,NaN,https://www.avito.ru/perm/kvartiry/auktsion_2-...
1591,от2660000,2,43.3,5,5,балкон,раздельный,1969.0,https://www.avito.ru/perm/kvartiry/2-k._kvarti...
2018,от5599000,1,2-к.,4,9,балкон,раздельный,2016.0,https://www.avito.ru/perm/kvartiry/auktsion_2-...
2159,от4790000,1,1-к.,7,25,лоджия,совмещенный,2016.0,https://www.avito.ru/perm/kvartiry/auktsion_1-...
2286,от3150000,1,1-к.,4,5,лоджия,раздельный,2008.0,https://www.avito.ru/perm/kvartiry/auktsion_1-...
2381,от3370000,1,1-к.,2,5,балкон,раздельный,1993.0,https://www.avito.ru/perm/kvartiry/auktsion_1-...
2489,от11700000,1,2-к.,8,9,лоджия,раздельный,2017.0,https://www.avito.ru/perm/kvartiry/auktsion_2-...

Ссылки на уже не существующие аукционы. Не буду их учитывать и дропну

In [31]:
df = df.drop(indx, axis=0)
df = df.reset_index(drop=True)

In [32]:
df = df.astype({'Price': 'int64'})
df.dtypes

Price                  int64
Rooms                  int64
Area                  object
Floor                  int64
Max_house_floor        int64
balcony_or_loggia     object
Bathroom              object
Year_built           float64
Link                  object
dtype: object

In [ ]:
df.astype({'Area': 'float64'})

In [33]:
indx = []
for i in range(len(df.Area)):
    try:
        float(df.Area[i])
    except:
        indx.append(i)
df.iloc[indx]

,Price,Rooms,Area,Floor,Max_house_floor,balcony_or_loggia,Bathroom,Year_built,Link
18,11850000,1,апартаменты,10,10,лоджия,раздельный,2018.0,https://www.avito.ru/perm/kvartiry/3-k._aparta...
390,22000000,1,в,1,9,балкон,раздельный,2014.0,https://www.avito.ru/perm/kvartiry/dolya_v_svo...
392,4700000,1,планировка,20,25,лоджия,раздельный,2004.0,https://www.avito.ru/perm/kvartiry/svob._plani...
507,1499999,1,в,5,5,балкон,раздельный,2019.0,https://www.avito.ru/perm/kvartiry/dolya_v_2-k...
613,1499999,1,в,2,2,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/dolya_v_2-k...
697,7000000,1,апартаменты,11,17,лоджия,совмещенный,1996.0,https://www.avito.ru/perm/kvartiry/1-k._aparta...
763,2650000,1,апартаменты,3,9,NaN,совмещенный,NaN,https://www.avito.ru/perm/kvartiry/1-k._aparta...
828,9900000,1,планировка,1,5,балкон,раздельный,2012.0,https://www.avito.ru/perm/kvartiry/svob._plani...
951,1000000,1,апартаменты,8,19,NaN,совмещенный,1979.0,https://www.avito.ru/perm/kvartiry/1-k._aparta...
1045,9900000,1,планировка,3,9,лоджия,раздельный,2012.0,https://www.avito.ru/perm/kvartiry/svob._plani...
1181,650000,1,апартаменты,1,5,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/1-k._aparta...
1200,9300000,1,планировка,4,5,лоджия,совмещенный,2012.0,https://www.avito.ru/perm/kvartiry/svob._plani...
1310,1559000,1,планировка,4,5,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/svob._plani...
1451,2550000,1,апартаменты,15,16,NaN,совмещенный,2020.0,https://www.avito.ru/perm/kvartiry/1-k._aparta...
1500,1100000,1,планировка,5,5,NaN,совмещенный,1962.0,https://www.avito.ru/perm/kvartiry/svob._plani...
1533,1559000,1,планировка,22,25,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/svob._plani...
2074,3125000,1,планировка,2,4,NaN,совмещенный,2020.0,https://www.avito.ru/perm/kvartiry/svob._plani...
2201,11700000,1,планировка,5,16,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/svob._plani...
2307,22000000,1,в,19,21,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/dolya_v_svo...
2408,4700000,1,планировка,3,25,лоджия,раздельный,2004.0,https://www.avito.ru/perm/kvartiry/svob._plani...

In [34]:
df = df.drop(indx, axis=0)
df = df.reset_index(drop=True)

In [35]:
df = df.astype({'Area': 'float64'})
df.dtypes

Price                  int64
Rooms                  int64
Area                 float64
Floor                  int64
Max_house_floor        int64
balcony_or_loggia     object
Bathroom              object
Year_built           float64
Link                  object
dtype: object

In [36]:
df

,Price,Rooms,Area,Floor,Max_house_floor,balcony_or_loggia,Bathroom,Year_built,Link
0,4250000,1,40.0,13,25,балкон,совмещенный,2019.0,https://www.avito.ru/perm/kvartiry/1-k._kvarti...
1,4000000,3,61.7,3,5,балкон,раздельный,1977.0,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
2,2950000,2,44.0,9,9,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...
3,6990000,3,67.7,5,16,лоджия,раздельный,NaN,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
4,6990000,2,44.9,16,25,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...
...,...,...,...,...,...,...,...,...,...
2469,3799999,3,57.1,9,10,лоджия,раздельный,1982.0,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
2470,3450000,1,37.0,2,6,балкон,совмещенный,2018.0,https://www.avito.ru/perm/kvartiry/1-k._kvarti...
2471,3199000,1,38.3,3,7,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/1-k._kvarti...
2472,4930000,3,59.0,3,5,NaN,NaN,NaN,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
2473,3350000,1,37.1,2,10,NaN,совмещенный,2006.0,https://www.avito.ru/perm/kvartiry/1-k._kvarti...

#### Обработать NaN значения

In [16]:
for column in df.columns[-4:-1]:
    print(df[column].isna().value_counts())
    print('-'* 30)

print('Кол-во строк со всеми признаками:',
      df[['Bathroom', 'balcony_or_loggia', 'Year_built']]
      .isna()
      .query('Bathroom == False & balcony_or_loggia == False & Year_built == False')
      .shape
      )

False    1692
True      782
Name: balcony_or_loggia, dtype: int64
------------------------------
False    2068
True      406
Name: Bathroom, dtype: int64
------------------------------
False    1479
True      995
Name: Year_built, dtype: int64
------------------------------
Кол-во строк со всеми признаками: (1189, 3)

In [41]:
df_new = df.drop(columns=['balcony_or_loggia', 'Bathroom', 'Year_built', 'Link'])
df_new.head()

     Price  Rooms  Area  Floor  Max_house_floor
0  4250000      1  40.0     13               25
1  4000000      3  61.7      3                5
2  2950000      2  44.0      9                9
3  6990000      3  67.7      5               16
4  6990000      2  44.9     16               25

In [42]:
df_new['low-floor'] = np.where(df_new['Max_house_floor'] < 4, 1, 0)
df_new['middle-floor'] = np.where((df_new['Max_house_floor'] > 3) & (df_new['Max_house_floor'] < 6), 1, 0)
df_new['higher_middle-floor'] = np.where((df_new['Max_house_floor'] > 6) & (df_new['Max_house_floor'] < 11), 1, 0)
df_new['multi-floor'] = np.where((df_new['Max_house_floor'] > 11) & (df_new['Max_house_floor'] < 25), 1, 0)
df_new['higher_multi-floor'] = np.where(df_new['Max_house_floor'] > 25, 1, 0)
df_new = df_new.drop(columns='Max_house_floor')

In [43]:
df_new

,Price,Rooms,Area,Floor,low-floor,middle-floor,higher_middle-floor,multi-floor,higher_multi-floor
0,4250000,1,40.0,13,0,0,0,0,0
1,4000000,3,61.7,3,0,1,0,0,0
2,2950000,2,44.0,9,0,0,1,0,0
3,6990000,3,67.7,5,0,0,0,1,0
4,6990000,2,44.9,16,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2469,3799999,3,57.1,9,0,0,1,0,0
2470,3450000,1,37.0,2,0,0,0,0,0
2471,3199000,1,38.3,3,0,0,1,0,0
2472,4930000,3,59.0,3,0,1,0,0,0
2473,3350000,1,37.1,2,0,0,1,0,0

In [ ]:
plt.figure(figsize=(15, 10))
sns.heatmap(df_new.corr(), annot=True)

### Построение простой модели линейной регрессии

In [82]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor

In [63]:
X = df_new.drop(columns='Price')
y = df_new.Price

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [78]:
pipe = make_pipeline(StandardScaler(), Ridge())
parameters = {'ridge__alpha':[0.01, 0.1, 1, 10, 100]}
grid = GridSearchCV(pipe, parameters, cv=5)
grid.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('ridge', Ridge())]),
             param_grid={'ridge__alpha': [0.01, 0.1, 1, 10, 100]})

In [79]:
grid.score(X_train, y_train)

0.7675671004340427

In [80]:
grid.score(X_test, y_test)

0.7550912355435868

In [81]:
grid.best_estimator_

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('ridge', Ridge(alpha=10))])

In [140]:
pipe_neighbor = make_pipeline(StandardScaler(), KNeighborsRegressor())
n = list(range(9, 15, 1))
parameters_neighbor = {'kneighborsregressor__n_neighbors':n}
grid_neighbor = GridSearchCV(pipe_neighbor, parameters_neighbor, cv=5)
grid_neighbor.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('kneighborsregressor',
                                        KNeighborsRegressor())]),
             param_grid={'kneighborsregressor__n_neighbors': [9, 10, 11, 12, 13,
                                                              14]})

In [141]:
grid_neighbor.best_estimator_

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('kneighborsregressor', KNeighborsRegressor(n_neighbors=9))])

In [142]:
grid_neighbor.score(X_train, y_train)

0.7875741805005055

In [143]:
grid_neighbor.score(X_test, y_test)

0.6918263107290117

In [41]:
#import pickle

In [42]:
#with open('model.pkl','wb') as f:
    pickle.dump(clf,f)