In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('database.csv')

In [6]:
df.head()

,Unnamed: 0,Price,Rooms,Area,Floor,Max_house_floor,balcony\loggia,Bathroom,Year built,Link
0,0,4250000,1,40,13,25,балкон,совмещенный,2019.0,https://www.avito.ru/perm/kvartiry/1-k._kvarti...
1,1,4000000,3,61.7,3,5,балкон,раздельный,1977.0,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
2,2,2950000,2,44,9,9,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...
3,3,6990000,3,67.7,5,16,лоджия,раздельный,NaN,https://www.avito.ru/perm/kvartiry/3-k._kvarti...
4,4,6990000,2,44.9,16,25,балкон,NaN,NaN,https://www.avito.ru/perm/kvartiry/2-k._kvarti...